.footer {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);

  &__copyright {
    grid-column: 1 / -1;
    font-size: 1.55rem;
    color: #c6d9ee;

    @include respond(w500) {
      text-align: center;
      font-size: 1.35rem;
    }
  }
}

.colored {
  color: #7dd3fc;
}
