@use "../abstract/mixins" as *;

.composition {
  height: 27%;
  display: grid;
  align-items: center;
  overflow: visible;

  @include respond(w1072) {
    height: 15%;
  }

  @include respond(w752) {
    height: 30%;
  }

  @include respond(w700) {
    height: 100%;
  }

  &__photo-box {
    position: relative;
    height: inherit;

    @include respond(w700) {
      display: flex;
      position: static;
    }
  }

  &__photo {
    width: 65%;
    box-shadow: 0 1.2rem 2.6rem rgba(8, 34, 66, 0.3);
    border-radius: 1rem;
    position: absolute;
    z-index: 10;
    transition: outline 0.2s, border-radius 0.2s, transform 0.2s;
    outline-offset: 0.8rem;

    @include respond(w1072) {
      width: 75%;
    }

    @include respond(w752) {
      width: 85%;
    }

    @include respond(w700) {
      max-width: 33.33%;
      position: static;
      display: flex;
    }

    &--p1 {
      left: 0;
      top: -5rem;

      @include respond(w1072) {
        top: -3rem;
      }
    }

    &--p2 {
      right: 0;
      top: 3rem;

      @include respond(w1072) {
        top: 4rem;
      }
    }

    &--p3 {
      left: 10%;
      top: 13rem;

      @include respond(w1072) {
        left: 6%;
        top: 13rem;
      }
    }

    &--p4 {
      right: 0;
      top: -4rem;

      @include respond(w1072) {
        top: -3rem;
      }
    }

    &--p5 {
      left: 0;
      top: 3rem;

      @include respond(w1072) {
        top: 4rem;
      }
    }

    &--p6 {
      right: 10%;
      top: 17rem;

      @include respond(w1072) {
        right: 6%;
        top: 16rem;
      }
    }

    &:hover {
      outline: 0.8rem solid rgba(52, 200, 255, 0.72);
      border-radius: 0.6rem;
      transform: scale(1.07) translateY(-0.5rem);
      box-shadow: 0 2.2rem 3.4rem rgba(6, 24, 47, 0.45);
      z-index: 20;

      @media only screen and (max-width: 78.125em) {
        outline: none;
      }

      @include respond(w752) {
        transform: scale(1.04);
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.96);
  }
}
